# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*$py.class


# ============================================================
# Virtual Environments
# ============================================================

.venv/
venv/
env/


# ============================================================
# Jupyter Notebook
# ============================================================

.ipynb_checkpoints/


# ============================================================
# Raw Dataset
# ============================================================

data/SMSSpamCollection
data/readme


# ============================================================
# Processed Dataset
# ============================================================

data/processed/*.csv


# ============================================================
# Temporary Files
# ============================================================

*.tmp
*.log


# ============================================================
# Operating System Files
# ============================================================

Thumbs.db
.DS_Store


# ============================================================
# IDE / Editor Files
# ============================================================

.vscode/
.idea/


# ============================================================
# Python Cache
# ============================================================

.pytest_cache/


# ============================================================
# Streamlit
# ============================================================

.streamlit/secrets.toml